@import "../../GlobalStyles/global.scss";

*:focus {
  outline: none;
}

.nav_style {
  //   background-color: #363636;
  padding: 0;
  position: sticky;
  top: 0px;
}

.toggler_style {
  // color: $blue !important;
  background-color: $blue !important;
  border: 1px dotted $blue !important;
}

.nav_logo {
  @include xs() {
    max-width: 10vw;
    margin-right: 1rem;
    margin-bottom: 0rem;
  }
  @include md() {
    max-width: 4.5vw;
  }
  @include lg() {
    max-width: 4vw;
    margin-right: 20px;
    // margin-top: -1rem;
    margin-bottom: 0rem;
  }
  @include xl() {
    max-width: 3.15vw;
  }
}

.nav_brand {
  display: inline-block;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $blue;
  letter-spacing: 1px;
  @include md() {
    font-size: 1.5rem;
  }
}

.nav_brand_span {
  color: $black;
}

.nav_link {
  text-transform: uppercase;
  margin-bottom: 0rem;
  align-content: center;
  align-items: center;
  letter-spacing: 1px;
  color: $blue;
  @include md() {
    font-size: 0.9rem;
    margin-top: 0rem;
    margin-bottom: -1.5rem;
  }
}

.button_slide {
  border: 2px solid $blue;
  //   border-radius: 25px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: $blue;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 $blue;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  @include md() {
    padding: 0.5rem 1.25rem;
    margin-top: -0.5rem;
  }
}

.slide_right:hover {
  color: $white;
  box-shadow: inset 400px 0 0 0 $blue;
  transition: ease-out 0.4s;
}
